In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('1.csv')
data

   Exp    sky airtemp humidity    wind water forecast enjoy
0    1  sunny    warm   normal  strong  warm     same   yes
1    2  sunny    warm     high  strong  warm     same   yes
2    3  rainy    cold     high  strong  warm   change    no
3    4  sunny    warm     high  strong  cold   change   yes

In [11]:
concepts=np.array(data)[:,1:-1]
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cold', 'change']],
      dtype=object)

In [12]:
target=np.array(data)[:,-1]
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [13]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val == 'yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i]=='yes':
            for x in range (len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [14]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']